<div class="row form user_profile">
  <div class="col-lg-12">
    <h2><%= "#{@user.family_name}#{@user.first_name}" %><span><%= "#{@user.family_name_kana}#{@user.first_name_kana}" %></span></h2>
  </div>
</div>
